@font-face{
  font-family:'digital-clock-font';
  src: url('./assets/fonts/digital-7\ \(mono\).ttf');
}

body {
  background-image: url(./assets/image/times-up-time.gif);
  background-size: cover;
}

.title {
  color: #fff;
  margin: 80px 0;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.image {
  height: 350px;
  width: 350px;
}

.timer {
  color: #fff;
  font-family: 'digital-clock-font';
  font-size: 120px;
  margin-top: -250px;
}

.btnDiv {
  display: flex;
  margin-top: 100px;
}

.btn {
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin: 0 15px;
  padding: 5px;
  text-align: center;
  width: 150px;
}

.btn:hover {
  opacity: 0.5;
  color: #000;
  transition: all 0.50s;
}
